/*Start CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain)*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody, tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
  font-family: Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset*/

/*Start Structural Styles*/

.wrapper {
  width: 1024px;
  margin: auto;
}

.columns {
  position: relative;
}

/* Start Header styles*/

header {
  background-color: solid white;
}

body {
	background-color: black;
}

h1 {
  font-size: 35px;
  letter-spacing: 10px;
  font-variant: normal;
  color: white;
  font-weight: bold;
}

byline {
	color: white;
}

.posts {
	width: 698px;
	background-color: white;
	padding: 35px;
	margin-left: 256px;
}

article {
	margin-bottom: 35px;
}

h2 {
	font-weight: bold;
	font-variant: small-caps;
}

h3 {
	font-size: 10px;
	margin-bottom: 35px;
	font-weight: bold;
}

.image1 {
	width: 698px;
	height: auto;
	margin-bottom: 35px;
}

.index {
	width: 256px;
	background-color: white;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}

nav {
	margin: 35px;
}

ul {
	line-height: 100px;
}

h4 {
	margin-bottom: 35px;
	font-weight: bold;
}

footer {
	clear: both;
	background-color: white;
	padding: 35px;
}
