/*Start CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain)*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody, tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

/* HTML5 display-role reset for older browsers */

header {
  margin-top: 90px;
  margin-left: 350px;
  padding-bottom: 45px;
}

body {
  background-image: url("../images/Background.png");
  background-size: 1024px 1024px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  padding-left: 180px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
	clear: both;
	margin-bottom: 40px;
}

h2 {
  padding-left: 105px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
  letter-spacing: 10px;
  font-variant: normal;
  font-weight: bold;
}

p {
  color: white;
  padding-left: 120px;
  padding-right: 720px;
  padding-bottom: 100px;
  text-align: justify;
  letter-spacing: 1px;
}

p:after {
 background-color: #333;
 content: '';
 display: block;
 position: absolute;
 top: 340px;
 left: 70px;
 right: 670px;
 bottom: -80px;
 z-index: -1;
}

footer a {
 color: white;
}

.PageFooter {
  position: absolute;
  left: 280px;
  top: 830px;
  border-right:1px solid #FFF;
  padding-right: 0.55em;
}

.PageFooter2 {
  position: absolute;
  left: 430px;
  top: 830px;
  bottom: 100px;
}

.image1 {
  position: absolute;
  top: 500px;
  left: 900px;
}
