/* ~~~START CSS RESET~~~ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: Helvetica sans-serif;
  background-color: #F5EFE2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~ end css reset ~~~ */

/* note that all default styles are for desktop site */

/* ~~~ START STRUCTURAL STYLES ~~~ */

.wrapper {
  max-width: 1024px;
  margin: auto;
  background-color: #F5EFE2;
}

/* ~~~ end structural styles ~~~ */

/* ~~~ START HEADER STYLES ~~~ */

header {
  width: 75%;
  display: table;
  margin: auto;
}

.main-nav li.mobile-logo {
  display: none;
}

.logo-wrapper {
  width: 100%;
  display: block;
  vertical-align: bottom;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.logo-wrapper img{
  margin-top: -75px;
  position: relative;
  top: 50%;
}

.headline-wrapper {
  display: table-cell;
  vertical-align: bottom;
}

.headline-wrapper h1 {
  margin-bottom: 50px;
  margin-top: 75px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
  vertical-align: middle;
}

/* tablet */
@media (max-width: 768px) {
  .logo-wrapper {
    width: 100%;
    display: block;
    text-align: center;
  }

  .logo-wrapper img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }

  .headline-wrapper {
    display: block;
    padding: 0;
    text-align: center;
  }
}

/* ~~~ end header styles ~~~ */

/* ~~~ START NAV STYLES ~~~ */

.main-nav {
  width: 100%;
  margin: auto;
  font-weight: bold;
  font-size: 15pt;
  margin-top: 80px;
}

.main-nav ul {
  width: 100%;
  display: table;
}

.main-nav li {
  padding: 20px 0px;
  width: 20%;
  display: table-cell;
  background-color: #D0C9B2;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color: lightgray;
}

/* mobile */
@media (max-width: 500px) {
  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    width: 100%;
    display: block;
  }

  .logo-wrapper {
    position: relative;
  }

  .logo-wrapper img {
    margin-top: 0;
    top: 0;
  }

  .main-nav li.mobile-logo {
    display: block;
  }

  .main-nav li.desktop-logo {
    display: none;
  }
}

/* ~~~ end nav styles ~~~ */

/* ~~~ START MAIN CONTENT STYLES ~~~ */

main {
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
}

.portfolio-nav ul {
  display: table;
  width: 100%;
}

.portfolio-nav li {
  display: table-cell;
  text-align: center;
}

.portfolio-nav li:nth-child(1),
.portfolio-nav li:nth-child(4) {
  text-align: left;
}

.portfolio-nav li:nth-child(3),
.portfolio-nav li:nth-child(6) {
  text-align: right;
}

.portfolio-nav li:nth-child(2),
.portfolio-nav li:nth-child(5) {
  text-align: center;
}


.portfolio-nav li img {
  width: 80%;
  height: inherit;
  background-color: #D0C9B2;
}

.portfolio-nav .row1 {
  display: table-caption;;
}

.portfolio-nav .row1 li {
  padding-bottom: 5%;
}

.portfolio-nav .row2 {
  display: table-caption;
}

.portfolio-nav .row1 li {
  padding-bottom: 5%;
}

article {
  background-color: white;
}

.intro {
  padding-bottom: 10px;
  text-align: justify;
  max-width: 600px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* mobile */
@media (max-width: 375px) {

  .portfolio-nav li {
    display: block;
    padding-bottom: 5%;
    text-align: center;
  }

  .portfolio-nav li:nth-child(1),
  .portfolio-nav li:nth-child(3),
  .portfolio-nav li:nth-child(4),
  .portfolio-nav li:nth-child(6) {
    text-align: center;
  }
}

figure {
  display: table;
  margin-top: 100px;
}

figcaption h1 {
  margin-top: 0px;
  text-align: left;
}

.portfolio-img {
  width: 90%;
  display: table-cell;
}

figcaption {
  width: 35%;
  display: table-cell;
  vertical-align: top;
}

figcaption p {
  margin-top: 5%;
  font-size: .8em;
  text-align: justify;
  line-height: 15px;
}


/* tablet */
@media (max-width: 768px) {
  figure {
    display: block;
    text-align: center;
  }

  .portfolio-img {
    width: 100%;
    margin: 5% auto 5% auto;
  }
}


/* ~~~ end main content styles ~~~ */

/* ~~~ START FOOTER STYLES ~~~ */

footer {
  width: 100%;
  margin: auto;
  height: 100px;
  text-align: center;
  line-height: 144px;
  list-style: none;
  background-color: #938B78;
}

footer ul {
  width: 40%;
  display: table;
  margin: auto;
}
  footer li {
    display: table-cell;
  }

}

/* ~~~ end footer styles ~~~ */
